* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* font-family: sans-serif;
  font-size: 16px; */
  background:url('ingredientlist.webp') no-repeat fixed center;
  background-size:cover;
}
.container{
  width:450px;
  height:600px;
  background:rgb(241, 241, 239);
  
}

.header {
    margin: 30px auto;
    text-align: center;
  }
  img,
  .picImg {
    width: 400px;
    height: 500px;
    text-align:center;
  }
  .wrapper {
    /* margin:0 auto;
    text-align:center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .display {
    display: block;
    margin: 4% 5% 4% 24%;
  } */
  
  .second , .display{
    display: block;
    margin: 4% 5%;
  }
  .nutri {
    display: flex;
    margin: 8% 5%;
  }


  @charset "UTF-8";
  .image {
    width: 250px;
    float: left;
    margin: 20px;
  }
  
  body {
    font-size: small;
    line-height: 1.4;
  }
  
  p {
    margin: 0;
  }
  .hidden{
    visibility:hidden;
  }
  .performance-facts {
    background:white;
    border: 1px solid black;
    margin: 20px;
    float: left;
    width: 300px;
    padding: 0.5rem;
  }
  .performance-facts table {
    border-collapse: collapse;
  }
  
  .performance-facts__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
  }
  
  .performance-facts__header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__header p {
    margin: 0;
  }
  
  .performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
    width: 100%;
  }
  .performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th,
  .performance-facts__table thead tr td,
  .performance-facts__table--small thead tr td,
  .performance-facts__table--grid thead tr td {
    border: 0;
  }
  .performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th,
  .performance-facts__table td,
  .performance-facts__table--small td,
  .performance-facts__table--grid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  .performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
    text-align: right;
  }
  .performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th,
  .performance-facts__table .thick-row td,
  .performance-facts__table--small .thick-row td,
  .performance-facts__table--grid .thick-row td {
    border-top-width: 5px;
  }
  
  .small-info {
    font-size: 0.7rem;
  }
  
  .performance-facts__table--small {
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--small thead tr {
    border-bottom: 1px solid black;
  }
  .performance-facts__table--small td:last-child {
    text-align: left;
  }
  .performance-facts__table--small th,
  .performance-facts__table--small td {
    border: 0;
    padding: 0;
  }
  
  .performance-facts__table--grid {
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--grid td:last-child {
    text-align: left;
  }
  .performance-facts__table--grid td:last-child::before {
    content: "•";
    font-weight: bold;
    margin: 0 0.25rem 0 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .thick-end {
    border-bottom: 10px solid black;
  }
  
  .thin-end {
    border-bottom: 1px solid black;
  }



/******NAVBAR******/



nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: rgb(103, 236, 180);
  text-decoration: none;
}
a:hover{
  color:rgb(160, 235, 166);
}
.fas fa-bars{
  color:rgb(103, 236, 180);
  /* text-decoration: none; */
} 
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */

@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
   .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  } 
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  } 
  .toggle {
    display: none;
  }
   .submenu-active {
    border-radius: 0;
  } 
}


















