*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.container{
    margin: 1rem;
    border:2px solid black;
    max-width:1200px;
    width:90vw;
    height:80vh;
    overflow:hidden;

}
.toolbar{
    background:darkseagreen;
    cursor:pointer;
}
h1{
    text-align: center;
}
.panel{
    display:block;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}


/* canvas {
	cursor: url(crosshair.cur), default;
	/* Change the hotspot - cursor: url(crosshair.cur) 0 0, default; *
	background:#F4F4F4;
	display: block;
} */
input[type="file"]{
    display:none;
}
button{
    background:none; 
    border:none;
    cursor:pointer;
   }
   .toolbar{
    padding:0.5rem 0;
    display:flex;
    justify-content:space-around;
    /* width:100%; */
   text-align: center;
}

.left-panel{
    display:flex;
    /* width:100%; */
    /* border:2px solid black; */
    
}
.right-panel{
    cursor:pointer;
    display:block;
    margin:2rem auto;
    width:90%;
    height:45vh;
    background:whitesmoke;
    /* border:2px solid black; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#brushWidth{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    background:whitesmoke;
}
#brushWidth p{
    padding: 0 1rem;
    width:150px;
}
input{ 
    margin-left: 1rem;
} 
.input-form{
    display:block;
    justify-content: center;
    align-items: center;
    /* padding:1rem 0; */
}

.color-panel{
    background:whitesmoke;
    display:grid;
    grid-template-columns: repeat(12,20px );
    /* grid-template-rows: repeat(auto-fill, minmax(20px, reapeat(1fr)) );   */
    /* width:100%; */
    grid-gap: 1rem; 
    grid-auto-flow:row;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center; 
    padding: 1rem 1rem;
}

.palette{
   
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    width:100%;
    height:20px;
    object-fit:cover;
    /* display:flex;
    align-items:center; */
}

.red { background: red; }
.red1 { background: #F16161; }
.red2 { background: #F69FA0; }
.orange { background: orange; }
.orange1 { background: #F99F62; }
.orange2 { background: #FBB57B; }
.blue { background: #09C2DB; }
.blue1 { background: #8BD3DC; }
.blue2 { background: #B9E3E8; }
.indigo { background: #0E38AD; }
.indigo1 { background: #546AB2; }
.indigo2 { background: #9C96C9; }
.green { background: green; }
.green1 { background: #97CD7E; }
.green2 { background: #C6E2BB; }
.black { background: black; }
.black1 { background: #545454; }
.black2 { background: #B2B2B2; }
.yellow { background: yellow; }
.yellow1 { background: #F7F754; }
.yellow2 { background: #F7F4B1; }
.purple { background: #B9509E; }
.purple1 { background: #D178B1; }
.purple2 { background: #E3ABCE; }
.white {background: white;}
#board-eraser {background: whitesmoke;}

/* #points{
    cursor:crosshair;
} */

@media(min-width: 1000px){

    .container{
        /* margin:2rem 1rem;
        border:2px solid black;
        max-width:1200px;
       width:80vw;
        
        overflow:hidden; */
        height:90vh;
        margin:4rem auto;
    
    }
    .panel{
        display:flex;
        justify-content: center;
        align-items:center;
        width:100%;
        
    }

    .toolbar{
        padding:1rem 0;
        display:flex;
        justify-content:space-around;
        /* width:100%; */
       text-align: center;
    }
    /* .upload{
        margin-top:-1px;
        margin-left:-40px;
    } */
    .left-panel{
        width:15%;
        /* margin-top:1rem; */
        /* display:block;*/
        border:2px solid black; 
    }
    .right-panel{
        width:80%;
        height:75vh;
        margin-top:1rem;
        /* display:block;
        margin:0 auto;
        border:2px solid black; */
    }
    .color-panel{
        /* display:grid; */
        grid-template-columns: repeat(3,20px );
        grid-template-rows: repeat(3,20px );  
        /* width:100%; */
         grid-gap: 1rem ; 
        grid-auto-flow:row;
        flex-wrap: wrap; 
        justify-content: center;
        align-content: center;  
        margin:0 0 1rem 1rem;
        padding:2rem 0;
        /* border:2px solid black; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
        
   
    #brushWidth{
        text-align:center;
        width:200px;
        height:90px;
        padding:0.5rem 0rem;
        display:block;
        /* border:2px solid black; */
        margin: 0 0 0 1rem;
        /* background:whitesmoke; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #brushWidth p{
        margin:0 auto;
        text-align:center;
        width:150px;
    }
    input{ 
        /* margin-top: 0.5rem; */
    }  
    .input-form{
        display:block;
        justify-content: center;
        align-items: center;
        /* /* padding:0.5rem 0; */
    } 
   
        
  
     
}