:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
    --blue-green:#55AD90;
    --yellow:#fdee00;
    --lemon-lime:#e3ff00;

  }
  
  html, body {
      margin: 0;
      padding: 0;
  }
  
  body,
  .container {
      display: flex;
      justify-content: center;
      align-items: center
  }
  
  body {
      background-color: var(--wine-red);
      height: 100vh;
  }
  
  .container {
      background: var(--snow);
      flex-direction: column;
      border-radius: 10px;
      padding: 3em;
      min-width: 350px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  p {
      font-size: 45px;
  }
  input[type="radio"]{
      display:none;
     
  }
  .radio-container {
      width: 200px;
      font-size: 22px;
      border:2px solid black;
      margin:0.5rem;
      text-align:center;
  }
  
  .christmas {
      font-family: 'Mountains of Christmas', cursive;
      color: var(--dark-green);
       background-color: var(--bright-red); 
      /* background-image:url('images/starrynights.jpg') center no-repeat/cover;
      background-size:cover; */
  }
    .christmas .container{
      color: #F0F4F7;
      background-color: var(--light-green);
  } 
  .snow {
      font-family: 'Lobster Two', cursive;
      color: var(--snow);
      background-color: var(--snow);
      /* background-image:url('images/snow.jpg') center no-repeat/cover;
      background-size:cover; */
  }
  .hidden{
      visibility:hidden;
  }
   .snow .container {
      color: #F0F4F7;
      background-color: var(--dark-green);
  }
  
  .newyear {
      font-family: 'Lobster Two', cursive;
      color: var(--snow);
      background-color: var(--blue-green);
      
  }
  
  .newyear .container {
      color: #F0F4F7;
      background-color: darkgray;
  } 
  
  .easter {
      font-family: 'Lobster Two', cursive;
      color: var(--snow);
      background-color: black;
      
  }
  .easter .container{
      color:var(--gold);
      background-color:#7F00FF;
  }  

.halloween {
    font-family: 'Lobster Two', cursive;
    color: var(--snow);
    background-color: rgb(228, 151, 8);
   
}
.halloween .container{
    color:var(--lemon-lime);
    background-color:#960303;
} 

.thanksgiving {
    font-family: 'Lobster Two', cursive;
    color: var(--snow);
    background-color: rgb(247, 124, 9);
  
}
.thanksgiving .container{
    color:var(--yellow);
    background-color:#5c2d01;
} 
 
  .customize{
      display:flex;
      flex-direction: row;
      justify-content:center ;
      align-items: center;
      padding:2rem 4rem;
       margin:0 auto;
  
  
  }
  
  #text-color, #background-color{
      margin:1rem;
      display:block;
      text-align: center;
  }
  .submit-btn{
      padding:1rem;
      margin:0 auto;
      text-align:center;
  }
  #submit{
      background-color:var(--blue-green);
      padding:0.5rem 1.5rem;
      border-radius:20px;
  }
                  /* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
  }

  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}