/* 
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700 */




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
   
}

body{
    background-color: hsl(185, 41%, 84%);
}
.heading{
   text-align:center;
   color:rgb(51, 50, 50);
   padding:2rem;
   font-size:1.2rem;
   letter-spacing:5px;
   line-height:1.8;
   
}
.container{
   font-size:1.5rem;
   font-family: 'Space Mono', monospace;
   max-width:375px;
   margin:0 auto;
   text-align:center;
   
   
}
.wrapper{
    height:100vh;
    border-radius:30px;
    background-color: hsl(0, 0%, 100%);
}