{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url('../background.jpg');
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 90vw;
    height: 80vh;
    overflow: hidden;
}
.toolbar {
    display: flex;
    border: 5px solid #008037;
    border-radius: 10px;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.panel {
    display: block;
    width: 90%;
    height: 90vh;
    margin: auto auto;
}

canvas {
	cursor: url(crosshair.cur), default;
	/* Change the hotspot - cursor: url(crosshair.cur) 0 0, default; *
	background:#F4F4F4;
	display: block;
} */
/*input[type="file"]{
    display:none;

}

button{
    background:none; 
    border:none;
    cursor:pointer;
   }

.toolbar{
    padding:0.5rem 0;
    display:flex;
    justify-content:space-around;

    /* width:100%; */
    text-align: center;
}

#left-panel {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
    justify-content: center;
    align-items: center;
    border:20px solid #804500;
}

#brushWidth {
    max-width: 100%;
    height: 120px;
    padding-top: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    background: whitesmoke;
}


#brushWidth p {
    /* padding: 0 2rem; */
    width: 100%;
    text-align: center;
}

input {
    /* margin-left: 2rem; */
    width: 80%;
}

#manualInput {
    width: 30%;
    text-align: center;
}

.input-form {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.right-panel {
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    width: 100%;
    height: 50vh;
    background: whitesmoke;
    border:20px solid #804500;
    object-fit: contain;
}
.color-panel {
    margin-left: 0;
    margin-right: 0;
    background: whitesmoke;
    display: grid;
    min-width: 80%;
    height: 120px;
    grid-template-columns: repeat(12, 20px);
    /* grid-template-rows: repeat(auto-fill, minmax(20px, reapeat(1fr)) );   */
    /* width:100%; */
    grid-gap: 1rem;
    grid-auto-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* padding: 1rem 1rem; */
}


.palette {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 20px;
    /* object-fit: cover; */
    /* display:flex;
    align-items:center; */
}

.red {
    background: red;
}

.red1 {
    background: #F16161;
}

.red2 {
    background: #F69FA0;
}

.orange {
    background: orange;
}

.orange1 {
    background: #F99F62;
}

.orange2 {
    background: #FBB57B;
}

.blue {
    background: #09C2DB;
}

.blue1 {
    background: #8BD3DC;
}

.blue2 {
    background: #B9E3E8;
}

.indigo {
    background: #0E38AD;
}

.indigo1 {
    background: #546AB2;
}

.indigo2 {
    background: #9C96C9;
}

.green {
    background: green;
}

.green1 {
    background: #97CD7E;
}

.green2 {
    background: #C6E2BB;
}

.black {
    background: black;
}

.black1 {
    background: #545454;
}

.black2 {
    background: #B2B2B2;
}

.yellow {
    background: yellow;
}

.yellow1 {
    background: #F7F754;
}

.yellow2 {
    background: #F7F4B1;
}

.purple {
    background: #B9509E;
}

.purple1 {
    background: #D178B1;
}

.purple2 {
    background: #E3ABCE;
}

.white {
    background: white;
}

#board-eraser {
  background: whitesmoke;
  }


/* #points{
    cursor:crosshair;
} */


@media(min-width: 1000px) {

    .container {
        height:90vh;
        margin:4rem auto;
     
    }

    .panel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .toolbar {
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        /* width:100%; */
        text-align: center;
    }

    /* .upload{
        margin-top:-1px;
        margin-left:-40px;
    } */
#left-panel {
        display: block;
        
        width: 15%;
        /* margin-top:1rem; */
        border: none;
    }

    .right-panel {
        width: 80%;
        height: 100vh;
        margin-top: 1rem;
        height: 65vh;
        object-fit: contain;
    }

    .color-panel {
        /* display:grid; */
        height: 100%;
        grid-template-columns: repeat(3, 20px);
        grid-template-rows: repeat(3, 20px);
        /* width:100%; */
        grid-gap: 1rem;
        grid-auto-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        /* margin: 0 0 1rem 1rem; */
        padding: 2rem 0;
        border:10px solid #804500;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }


    #brushWidth {
        text-align: center;
        width: 100%;
        height: 100px;
        padding: 0.5rem 0rem;
        display: block;
        border:10px solid #804500;
      /* border:2px solid black; */
        margin-top: 1rem;
        /* background:whitesmoke; */
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }

    #manualInput {
        width: 30%;
        text-align: center;
    }

    #brushWidth p {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .input-form{
        display:block;

        justify-content: center;
        align-items: center;
        /* /* padding:0.5rem 0; */
    }


}