<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>

    <h1>TODO APP </h1>
    <!-- <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#tasks">Tasks</a>
        <a href="#completed">Completed</a>
        <a href="/about">About</a>
    </div> -->
    <div class=" container ">
        <div class="todo ">
            <form action="/ " method="POST " class="todo-header ">
                <input type="text " name="addContent ">
                <input type="date" name="dateContent">
                <button type="submit "><span class="fas fa-plus "></span></button>

                <ul>

                </ul>


            </form>

        </div>
    </div>
    <div id="about ">
        <p>A CRUD NODEJS APPLICATION</p>
        <p>The application is a todo list with the deadline date specified. </p>
        <p>It allows the user to add, remove and update the tasks so that the user can complete the todolist./p>
            <p> It also allows the user to mark when the tasks are completed</p>
        </p>


    </div>
</body>

</html>