*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
  --light-red:#cccccc;
  --light-smoke:#333333;
  --black:  #232932;
  --smokey-black:#101010;
}
html{

  font-size: 62.5%;
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--light-smoke);
    font-weight: 300;
    line-height: 1.6; 
  }

/*NAVBAR STYLING*/

  nav-bar{
    box-shadow:var(--dark-shadow);
    max-width:var(--max-width);
    height:5rem;
    overflow:hidden;
     /* margin:0 auto; */
  }
  
  .nav-menu li a{
    text-decoration: none;
    color: var(--black);
  }
  
   .logo{
    width:10rem;
    height:100%;
    margin:-3px 25rem 10px 4rem;
   
  } 
  .nav-links{
      /* margin-left:auto; */
      padding: .1rem .5rem;
    }
     
    .nav-links a:hover{
       color:var(--turquoise);
  
    }
  

.main__header{
    margin: 4rem 0;
    /* border: 2px solid black; */
    padding:4rem;
   
}

.gallery__header{
    text-align:center;
    font-size: 4rem;
    text-transform: uppercase;
}



.img__grid{
    display:grid;
 
     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr) ); 
    grid-gap: 1rem; 
    grid-auto-flow:row;
    flex-wrap: wrap; 
     justify-items:stretch;  
     align-items:stretch;
    justify-content: center;
    align-content: center; 
} 

 .img__grid > img{
  border: 1px solid var(--light-red);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  width:100%;
  height:auto;
  object-fit:cover;
  display:flex;
  align-items:center;

}  
.thumbnail{
  border-radius:1rem;
}
.thumbnail:nth-child(odd):hover {
    transform: scale(1.3);
 }

  
.thumbnail:nth-child(odd):hover{
    position:relative;
    top:0px; 
    left:0px; 
    /* margin:auto; */
    width:100%;
    height:auto;
    display:block;
    z-index:999;
}

/* hover styles  for even images*/
.image-listing {
    position: relative;
  }
   .pic-image {
    line-height: 0;
    overflow: hidden;
   
  }
  
  .img-grid .pic-image >img{
    
    border: 1px solid var(--light-red);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    width:auto;
    height:auto;
    object-fit:cover;
    /* border-radius:1rem; */
    filter: blur(2ppx);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
 .image-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: var(--white);
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-listing:hover .image-title {
    opacity: 1;
  }
  
  .image-listing:hover .img-grid.pic-image img {
    filter: blur(2px);
  }
   
/* figure {
    width: 300px;
    height: 200px;
     margin: 0;
    padding: 0; 
    background: #fff;
    overflow: hidden;
  }


  figure img {
    -webkit-transform: scale(1);
    transform: scale(4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: scale(4.3);
    transform: scale(4.3);
    width:300px;
  } */



/*Tablet Menu*/
@media all and (min-width: 700px) {
  
}



/* Desktop menu */
@media all and (min-width: 960px) {

}




/*Mobile Styling*/

.nav-menu{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom:1rem;
}

.nav-menu li a{
  display:block;
  padding: 1rem 0.2rem;
  color:var(--greenish-black)
}

/* .toggle{
  order:1;
} */

.nav-links{
  /* order: 2;
  width:100%;
  text-align:center; */
  display:none;
}

.active .nav-links{
  width:100%;
  height:auto;
  text-align:center;
  display:block;
  margin:-10px  0 10px 0;
 
  
}
.active .nav-links:nth-last-child(){
  padding:0 0 1rem 0;
}
/* hamburger styling */
.hamburger{
  order:1;
  display: block;
  cursor: pointer;
  justify-content: center;

}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: -28px 450px 10px 430px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background-color: var(--smokey-black);
}
.hamburger.active{
  padding:5rem;
 
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  margin:-28px auto 10px auto;
}

.hamburger.active .bar:nth-child(1) {
  margin:-28px auto 10px auto;
  transform: translateY(-25px) rotate(-45deg);
  /* transform: rotate(45deg) translate(10px, 10px); */
}

.hamburger.active .bar:nth-child(3) {
  margin:-28px auto 10px auto;
  transform: translateY(0px) rotate(45deg);
 /* -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(-45deg) translate(15px, -15px); */
  
}




/*Tablet Menu*/
@media all and (min-width: 700px) {
  .nav-menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
      margin:0px 25rem 0px 4rem;
  } 
  .nav-links{
    display:flex;
    padding-left:1rem;
  }
  .hamburger, .bar{
      /* flex: 1;  */
       text-align: right;
        /* order: 2; */
      display: none;
  }
}


/* Desktop menu */
@media all and (min-width: 960px) {
  .nav-menu {
      align-items: flex-start;     
      flex-wrap: nowrap;
      
  }
  .logo {
     order :0;
     flex:1;
     margin:0px 25rem 0px 4rem;
  } 
  .nav-links {
       /* order: 1;  */
       margin-left:auto;
       /* display: block;  
       width: auto; */
       padding: 0.5rem;
  }
  .hamburger, .bar {
    display: none;
  }
  
 /* .main__para{
   width:55%;
   font-size:2.5rem;
   line-height:1.5;
 } */

}


